//GENERAL
@import './general/variables';
@import './general/tipografias.scss';
@import './general/reset.scss';

//LAYOUT
@import './layout/header.scss';
@import './layout/body.scss';
@import './layout/main.scss';
@import './layout/footer.scss';

//PAGES
@import './pages/inicio.scss';
@import './pages/biografia.scss';
@import './pages/discografia.scss';
@import './pages/contacto.scss';

//MEDIAS QUERYS
@import './general/medias-querys.scss';


@include mobile{
  body header h1 {
    font-size: 1em;
  }
  body .navbar-nav {
    margin-top: 350px;
  }
  body .navbar-nav a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(5, 5, 5);
    font-weight: bolder;
    padding: 0px 14px;
    z-index: 1000000000000000000000000000000000000000000;
  }
  body .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    margin-top: 185%;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 6px;
  }
  body #dvmenu {
    top: 0px !important;
  }
  body #dvloguito {
    display: flex;
    flex: 1;
  }
  body .navbar.navbar-expand-lg.bg-body-dark {
    top: 0px !important;
  }
  body .navbar-nav dl,
  body ol,
  body ul {
    margin-top: unset !important;
  }
  body .bio-inicio {
    position: relative;
    width: 100%;
    
    
  }
  body .bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 90%;
  }

  #banner-bienvenida img {
    width: 100%;
  }
  #dvarriba-dsk{
    display: none !important;
  }
  #dvarriba-mbl{
    display: unset;
  }
  div#dvbiotext {
    display: flex;
    width: 100%;
  }
  div#dvbioimg {
    display: none;
  }
}

@include desktop{ 
  body {
    width: 100vw;
    height: 100vh;
  }
  header h1 {
    font-size: 15px;
    margin-right: 100px;
  }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .navbar-nav dl,ol, ul {
    margin-top: 0px;
  }
  #banner-bienvenida img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  section .bio-inicio {
    width: 65vh;
    
  }
  .bio-inicio img {
    height: 35vh;
  }
  .bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 50%;
  }
  #dvarriba-mbl{
    display: none;
  }
  #dvarriba-dsk{
    display: unset;
  }
}




