* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr; /* 1 columna*/
    grid-template-rows: repeat (4, 1fr); /* Encabezado, contenido principal y pie de página */
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    
}

header {
    grid-area: header;
    width: 100%;
    height: 5%;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #232524a9;
    z-index: 999999999;
    
    
    
}

header h1 {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-size: 30px;
    margin-top: 4px;   
}

header h1:hover{
    color: goldenrod;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul li{
    margin-left: 25px;
    
}

.navbar-nav a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 0px 14px;
    z-index: 999999999999999999999999999999999999999999;
}

nav ul a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(235, 173, 15, 0.274);
    border-radius: 8px;
}

#banner-bienvenida img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center; 
    object-fit: contain;
    width: 100%;
}

main {
    grid-area: main;

}

.bio-inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    
}

.bio-inicio p {
    text-align: justify;
    font-size: 1.1em;
    padding: 30px;
    width: 70%;
}

.bio-inicio img {
    float: left;
    height: 100vh;
}


#banner-tour {
    background-image: url(../img/bg-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 40px;
    height: 600px;
    color: white;
    background-attachment: fixed;
    background-position: top center;

}

#banner-tour h3{
    color: white;
    font-size: 50px;
    font-weight: 400;
    margin-left: 20%;
}

footer{
    grid-area: footer;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 10px;
    text-align: center;
}
/*================================================================================================================*/
/* CSS Biografia */
/*=================================================================================================================*/

.bio-banner img {
    float: right;
    width: 50%;
    height: 565px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    object-fit: cover;
}

.icon-despues{
    width: 170px;
    height: 200px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    
}

.icon-travesia{
float: right;
    width: 170px;
    height: 200px;
    border-radius: 10px;
    margin-left: 20px;
    
}

.texto-primera-etapa{
    color: rgb(9, 9, 9);
    width: 50%;
    background-color: rgba(52, 52, 53, 0.622); 
    border-radius: 6px;
    text-align: justify;
    text-shadow: 1px 1px 5px rgba(111, 107, 107, 0.64);
    font-weight: bolder;
    margin-top: 40px;
    padding: 0px 16px;
    
    
}

.primera-etapa-b{
  text-align: justify;
  margin-left: 27px;

}

.segunda-etapa {
  background-color: rgba(0, 0, 0, 0.175);
}

.icon-pajaros{
  width: 200px;
  height: 200px;
  float: right;
  border-radius: 10px;
  padding-left: 20px;
  
  
}

.texto-segunda-etapa{
    color: rgb(9, 9, 9);
    width: 100%;
    border-radius: 6px;
    text-align: justify;
    padding: 27px;
    margin-top: 10%;
    
}
.solista-boston {
    margin-top: 50px;
    width: 100%;
    text-align: justify;
    
}

.solista-boston img{
    width: 300px;
    height: 350px;
    float: left;
    margin: 45px 20px 5px 15px;
}

/*================================================================================================================*/
/*CSS Discografia */
/*================================================================================================================*/
#banner-discografia img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%; 
}

.card-discos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 20px;
    gap: 20px;
}

.card-title, .card-text {
    font-weight: bold;
    font-size: 13px;
}

.card{
    filter: saturate(50%);
    transition: filter 0.3s ease;
    cursor: pointer;
}
.card:hover{
    filter: saturate(1.5); 
}

.tarjetas-discos img{
    transition: all 0.8s ease;
}

.tarjetas-discos img:hover{
    filter: grayscale(1);
    transition: all 0.3s ease;
}

.btn {
    background-color: goldenrod;
}

.btn {
	color: black
}

/*================================================================================================================*/
/* CSS contacto */
/*================================================================================================================*/
.banner-contacto{
    background-image: url(../img/contacto.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.dv-contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.frank-guitarra img {
    height: 90vh;
    
}

/*================================================================================================================*/
/* FORMULARIO */
/*================================================================================================================*/

.contact-form {
    color: white;
    width: 50%;
    height: 100%; 
}



/*================================================================================================================*/
/* MEDIAS QUERY */
/*================================================================================================================*/
/* Para Pantallas (tablets o PC) hasta 992px o menos*/
@media screen and (max-width: 992px) {

  
    body {
    width: 100vh;
    height: 100vh;
}
        
header h1{
    font-size: 15px;
    margin-right: 100px;

}
    
.navbar-nav dl, ol, ul{
    margin-top: 40px;

}

#banner-bienvenida img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bio-inicio {
    height: 60vh;
}

.bio-inicio img {
    height: 35vh;
    }
    
.bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 9  0%;
}

}

/* Para Telefonos Moviles de Pantallas entre 0 a 600px*/
@media screen and (max-width: 600px) {

  body {
    width: 100%;
    height: 100%;
}


  header h1 {
    font-size: 20px;
}

  .navbar-nav {
    margin-top: 350px;
}

  .navbar-nav a {
	text-decoration: none;
	font-size: 25px;
	color: rgb(5, 5, 5);
	font-weight: bolder;
	padding: 0px 14px;
	z-index: 999999999999999999999999999999999999999999;
}

  .navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
	position: absolute;
	margin-top: 185%;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 6px;
}

  #dvmenu {
	top: 0px !important;
	/* float: right; */
	display: flex;
	flex: 1;
}

#dvloguito {
	display: flex;
	flex: 1;
}

.navbar.navbar-expand-lg.bg-body-dark {
  top: 0px !important;
}

.navbar-nav dl, ol, ul {
	margin-top:unset !important; 
}

#banner-bienvenida img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.bio-inicio {
	position: relative;
	width: 100%;
	height: 94vh;
}

.bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 90%;
}

.bio-banner {
    display: flex;
    background: url("../img/fq1978.jpg");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner-tour {
	padding: 10px 0px;
}

.dv-contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

}
