* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  grid-area: header;
  width: 100%;
  height: 5%;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(35, 37, 36, 0.662745098);
  z-index: 999999999;
}
header h1 {
  font-family: "Rock Salt", cursive;
  color: white;
  font-size: 30px;
  margin-top: 4px;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}
header h1:hover {
  color: goldenrod;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
header h1.fade-in {
  opacity: 1;
}
header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  margin-left: 25px;
}

.navbar-nav a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: bolder;
  padding: 0px 14px;
  z-index: 1000000000000000000000000000000000000000000;
}

nav ul a:hover {
  color: black;
  background-color: rgba(235, 173, 15, 0.274);
  border-radius: 8px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #000000;
}
body .bio-inicio {
  position: relative;
  width: 100%;
  height: 100vh;
}
body .bio-inicio p {
  text-align: justify;
  font-size: 1.1em;
  padding: 30px;
  width: 70%;
}
body .bio-inicio img {
  float: left;
  height: 100vh;
}

#banner-bienvenida img {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th, .table td {
  padding: 8px;
  border: 1px solid black;
}
.table th {
  background-color: black;
  color: white;
}
.table tr:nth-child(odd) {
  background-color: black;
}

tr:nth-child(1) td:nth-child(1)::before {
  content: "01/10/2023";
}
tr:nth-child(1) td:nth-child(2)::before {
  content: "Madrid";
}
tr:nth-child(1) td:nth-child(3)::before {
  content: "Teatro Principal";
}
tr:nth-child(1) td:nth-child(4)::before {
  content: "Sitios venta de Boletos";
}

tr:nth-child(2) td:nth-child(1)::before {
  content: "05/10/2023";
}
tr:nth-child(2) td:nth-child(2)::before {
  content: "Barcelona";
}
tr:nth-child(2) td:nth-child(3)::before {
  content: "Auditorio Central";
}
tr:nth-child(2) td:nth-child(4)::before {
  content: "Sitios venta de Boletos";
}

tr:nth-child(3) td:nth-child(1)::before {
  content: "10/10/2023";
}
tr:nth-child(3) td:nth-child(2)::before {
  content: "Valencia";
}
tr:nth-child(3) td:nth-child(3)::before {
  content: "Centro de Eventos";
}
tr:nth-child(3) td:nth-child(4)::before {
  content: "Sitios venta de Boletos";
}

tr:nth-child(4) td:nth-child(1)::before {
  content: "11/04/2024";
}
tr:nth-child(4) td:nth-child(2)::before {
  content: "Buenos Aires";
}
tr:nth-child(4) td:nth-child(3)::before {
  content: "Obelisco";
}
tr:nth-child(4) td:nth-child(4)::before {
  content: "Sitios venta de Boletos";
}

#banner-tour {
  background-image: url(../img/bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 40px;
  height: 600px;
  color: white;
  background-attachment: fixed;
  background-position: top center;
}
#banner-tour #banner-tour h3 {
  color: white;
  font-size: 50px;
  font-weight: 400;
  margin-left: 20%;
}

#dark-mode-button {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(60, 60, 61, 0.6);
  box-shadow: 1px 1px 2px rgba(12, 12, 12, 0.4);
  border-radius: 10px;
  padding: 3px 10px;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.primera-etapa {
  display: flex;
  flex-direction: row;
}

.bio-banner {
  margin-top: 50px;
  width: 100%;
  height: 500px;
}
.bio-banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.icon, .icon-despues, .icon-pajaros, .icon-travesia {
  width: 170px;
  height: 200px;
  margin-right: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}
.icon:hover, .icon-despues:hover, .icon-pajaros:hover, .icon-travesia:hover {
  transform: scale(1.1);
  filter: grayscale(100%);
  opacity: 0.7;
}

.icon-despues, .icon-pajaros, .icon-travesia {
  float: left;
}

.icon-travesia {
  float: right;
}

.texto-primera-etapa {
  margin-top: 35px;
  color: black;
  width: 90%;
  background-color: rgba(96, 96, 97, 0.658);
  border-radius: 6px;
  text-align: justify;
}
.texto-primera-etapa p {
  font-weight: bold;
  padding: 27px;
  font-weight: 300;
}
.texto-primera-etapa h4 {
  text-align: center;
}

.texto-segunda-etapa {
  color: black;
  width: 50%;
  border-radius: 6px;
  text-align: justify;
}

.solista-boston {
  margin-top: 50px;
  width: 100%;
  text-align: justify;
}
.solista-boston p,
.solista-boston h4 {
  padding: 20px;
}
.solista-boston img {
  width: 300px;
  height: 350px;
  float: right;
  margin: 45px 20px 5px 15px;
}

#banner-discografia img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
}

.card-discos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.card-discos .card-title,
.card-discos .card-text {
  font-weight: bold;
  font-size: 13px;
}
.card-discos .card {
  filter: saturate(50%);
  transition: filter 0.3s ease;
  cursor: pointer;
}
.card-discos .card:hover {
  filter: saturate(1.5);
}
.card-discos .card .tarjetas-discos img {
  transition: all 2s ease;
}
.card-discos .card .tarjetas-discos img:hover {
  filter: grayscale(1);
}
.card-discos .btn {
  background-color: goldenrod;
  color: black;
}
.card-discos .btn:hover {
  transform: translateY(-2px);
  transition: transform 0.8s ease-out;
}

.banner-contacto {
  background-image: url(../img/contacto.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dv-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.dv-contact .frank-guitarra img {
  height: 90vh;
}

.contact-form {
  color: white;
  width: 50%;
  height: 100%;
}

@media (max-width: 599px) {
  body header h1 {
    font-size: 25px;
  }
  body .navbar-nav {
    margin-top: 350px;
  }
  body .navbar-nav a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(5, 5, 5);
    font-weight: bolder;
    padding: 0px 14px;
    z-index: 1000000000000000000000000000000000000000000;
  }
  body .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    margin-top: 185%;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 6px;
  }
  body #dvmenu {
    top: 0px !important;
  }
  body #dvloguito {
    display: flex;
    flex: 1;
  }
  body .navbar.navbar-expand-lg.bg-body-dark {
    top: 0px !important;
  }
  body .navbar-nav dl,
  body ol,
  body ul {
    margin-top: unset !important;
  }
  body .bio-inicio {
    position: relative;
    width: 100%;
    height: 70vh;
  }
  body .bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 90%;
  }
}
@media (max-width: 992px) {
  body {
    width: 100vh;
    height: 100vh;
  }
  header h1 {
    font-size: 15px;
    margin-right: 100px;
  }
  header ul {
    align-items: left;
  }
  .navbar-nav dl, ol, ul {
    margin-top: 40px;
  }
  #banner-bienvenida img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  section .bio-inicio {
    width: 65vh;
  }
  .bio-inicio img {
    height: 35vh;
  }
  .bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
