* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
body header {
  grid-area: header;
  width: 100%;
  height: 5%;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(35, 37, 36, 0.662745098);
  z-index: 999999999;
}
body header h1 {
  font-family: "Rock Salt", cursive;
  color: white;
  font-size: 30px;
  margin-top: 4px;
}
body header h1:hover {
  color: goldenrod;
}
body header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header ul li {
  margin-left: 25px;
}
body .navbar-nav a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 0px 14px;
  z-index: 1000000000000000000000000000000000000000000;
}
body nav ul a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(235, 173, 15, 0.274);
  border-radius: 8px;
}
body #banner-bienvenida img {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  object-fit: contain;
  width: 100%;
}
body main {
  grid-area: main;
}
body .bio-inicio {
  position: relative;
  width: 100%;
  height: 100vh;
}
body .bio-inicio p {
  text-align: justify;
  font-size: 1.1em;
  padding: 30px;
  width: 70%;
}
body .bio-inicio img {
  float: left;
  height: 100vh;
}
body #banner-tour {
  background-image: url(../img/bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 40px;
  height: 600px;
  color: white;
  background-attachment: fixed;
  background-position: top center;
}
body #banner-tour #banner-tour h3 {
  color: white;
  font-size: 50px;
  font-weight: 400;
  margin-left: 20%;
}
body footer {
  grid-area: footer;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-align: center;
}
body .primera-etapa {
  display: flex;
  flex-direction: row;
}
body .bio-banner {
  margin-top: 50px;
  width: 100%;
  height: 500px;
}
body .bio-banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
body .icon-despues {
  width: 170px;
  height: 200px;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}
body .icon-travesia {
  width: 170px;
  height: 200px;
  float: right;
  margin-left: 10px;
  border-radius: 10px;
}
body .icon-pajaros {
  width: 70px;
  height: 100px;
  float: left;
  border-radius: 10px;
}
body .texto-primera-etapa {
  margin-top: 35px;
  color: rgb(0, 0, 0);
  width: 90%;
  background-color: rgba(96, 96, 97, 0.658);
  border-radius: 6px;
  text-align: justify;
}
body .texto-primera-etapa p {
  font-weight: bold;
  padding: 27px;
  font-weight: 300;
}
body .texto-primera-etapa h4 {
  text-align: center;
}
body .texto-segunda-etapa {
  color: rgb(10, 10, 10);
  width: 50%;
  border-radius: 6px;
  text-align: justify;
}
body .solista-boston {
  margin-top: 50px;
  width: 100%;
  text-align: justify;
}
body .solista-boston p, body .solista-boston h4 {
  padding: 20px;
}
body .solista-boston img {
  width: 300px;
  height: 350px;
  float: right;
  margin: 45px 20px 5px 15px;
}
body #banner-discografia img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
}
body .card-discos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
body .card-discos .card-title, body .card-discos .card-text {
  font-weight: bold;
  font-size: 13px;
}
body .card-discos .card {
  filter: saturate(50%);
  transition: filter 0.3s ease;
  cursor: pointer;
}
body .card-discos .card:hover {
  filter: saturate(1.5);
}
body .card-discos .card .tarjetas-discos img {
  transition: all 0.8s ease;
}
body .card-discos .card .tarjetas-discos img:hover {
  filter: grayscale(1);
  transition: all 0.3s ease;
}
body .card-discos .btn {
  background-color: goldenrod;
  color: black;
}
body .banner-contacto {
  background-image: url(../img/contacto.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
body .dv-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
body .dv-contact .frank-guitarra img {
  height: 90vh;
}
body .contact-form {
  color: white;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  body body {
    width: 100vh;
    height: 100vh;
  }
  body body header h1 {
    font-size: 15px;
    margin-right: 100px;
  }
  body body header ul {
    align-items: left;
  }
  body body .navbar-nav dl, body body ol, body body ul {
    margin-top: 40px;
  }
  body body #banner-bienvenida img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  body body section .bio-inicio {
    width: 65vh;
  }
  body body .bio-inicio img {
    height: 35vh;
  }
  body body .bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 50%;
  }
}
@media screen and (max-width: 992px) and (max-width: 600px) {
  body header h1 {
    font-size: 25px;
  }
  body .navbar-nav {
    margin-top: 350px;
  }
  body .navbar-nav a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(5, 5, 5);
    font-weight: bolder;
    padding: 0px 14px;
    z-index: 1000000000000000000000000000000000000000000;
  }
  body .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    margin-top: 185%;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 6px;
  }
  body #dvmenu {
    top: 0px !important;
  }
  body #dvloguito {
    display: flex;
    flex: 1;
  }
  body .navbar.navbar-expand-lg.bg-body-dark {
    top: 0px !important;
  }
  body .navbar-nav dl, body ol, body ul {
    margin-top: unset !important;
  }
  body .bio-inicio {
    position: relative;
    width: 100%;
    height: 70vh;
  }
  body .bio-inicio p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
