
#banner-discografia img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}

.card-discos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    .card-body {
        background-color: black;
        color: white;
    }

    .card-title,
    .card-text {
    font-weight: bold;
    font-size: 13px;
    }

    .card {
    filter: saturate(50%);
    transition: filter 0.3s ease;
    cursor: pointer;

    &:hover {
        filter: saturate(1.5);        
    }

    .tarjetas-discos img {
        transition: all 2s ease;
        &:hover {
        filter: grayscale(1);
        
        
        }
    }
}

    .btn {
    
    color: $secondary-color;
    &:hover {
        transform: translateY(-2px);
        transition: transform 0.8s ease-out;
    }
    }
}