body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: $background-color-light;
    color: $text-color-light;
    

    .bio-inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;


    p {
        text-align: justify;
        font-size: 1.1em;
        padding: 30px;
        width: 70%;
        color: white;
    }

    img {
        float: left;
        height: 100vh;
    }
}
}

#banner-bienvenida img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center; 
    object-fit: contain;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.table {
    width: 100%;
    border-collapse: collapse;
    th, td {
        padding: 8px;
        border: 1px solid $terciary-color;
        }      
    th {
        background-color: $terciary-color;
        color: $secondary-color;
    }

    tr:nth-child(odd) {
    background-color: $terciary-color;
    }
}

    @for $i from 1 through length($tour-dates) {
        tr:nth-child(#{$i}) {
        td:nth-child(1)::before {
            content: nth(nth($tour-dates, $i), 1);
            }
            td:nth-child(2)::before {
                content: nth(nth($tour-dates, $i), 2);
            }
            td:nth-child(3)::before {
                content: nth(nth($tour-dates, $i), 3);
            }
            td:nth-child(4)::before {
                content: nth(nth($tour-dates, $i), 4);
            }
            }
        }
    


    #banner-tour {
    background-image: url(../img/bg-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 40px;
    height: 600px;
    color: $secondary-color;
    background-attachment: fixed;
    background-position: top center;

    #banner-tour h3 {
        color: $secondary-color;
        font-size: 50px;
        font-weight: 400;
        margin-left: 20%;
        }
    }


#dark-mode-button {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(60, 60, 61, 0.6);
    box-shadow: 1px 1px 2px rgba(12, 12, 12, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
}

.dark-mode {
    background-color: $background-color-dark;
    color: $text-color-dark;
    
}